
@import url('https://fonts.googleapis.com/css2?family=KG+Take+On+The+World&display=swap');

.font-custom {
  font-family: 'KG Take On The World', cursive;
}
body {
  display: block;
}



  .search-input {
    color: blue; 
  }
  